.App {
  text-align: center;
  
}

.btnn{
  width: 100%;
  box-shadow: 0.3px 0.5px 1px;
  background-color: white;
  border: 0px;
  border-radius: 20px;
  margin-left:10px;
  margin-right: 10px;
  line-height: 30px;
  
}
