*{
  font-size: 16px;
  font-weight: bold;
}
.App {
  text-align: center;
  align-items: center;

}

.btnn{
  width: 35%;
  box-shadow: 0.3px 5px 1px #393459;
  background-color: #aaa7f2;
  border: 0px;
  border-radius: 20px;
  margin-left:10px;
  margin-right: 10px;
  line-height: 30px;
  color: #fff;
}
.btn-claim{
  width: 20%;
  box-shadow: 0.3px 5px 1px #393459;
  background-color: #aaa7f2;
  border: 0px;
  border-radius: 30px;
  margin-left:10px;
  margin-right: 10px;
  line-height: 50px;
  color: #fff;
  font-size: 30px;
}
.btn-go{
  width: 20%;
  box-shadow: 0.3px 5px 1px #393459;
  background-color: #aaa7f2;
  border: 0px;
  border-radius: 30px;
  margin-left:10px;
  margin-right: 10px;
  line-height: 50px;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
}
.success-text{
  font-size: 50px;
}
.img-star{
  width: 20px;
  height: 20px;
  margin: 0px;
  position: relative;
  top: 15px;
  right: 10px;
  
}
.custom-card{
  width: 200px;
  height: 300px;
  justify-content: center;
  border: 1px solid #daf2c9;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 5px 3px 1px #daf2c9;
  
  
}
.card-img{
  width: 150px;
  height: 150px;
  margin-top: 10px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  
  
  
}
.custom-card img{
  width:180px;
  height: 180px;
  border-radius: 50px;
border: 1px solid gray;
}

.custom-navbar{
  text-align: center;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 30px;
  flex-direction: row;
  height: 30px;
  
  box-shadow: 0.5px 0.5px 0.5px;

}
.member-ship-card{
  width:250px;
  box-shadow: 4px 6px 0.5px #daf2c9;
  border-left:0.5px solid #b6aeff ;
  border-bottom: 1px solid #b6aeff;
  border-right: 0.5px solid #b6aeff;
  border-top-right-radius: 10px;
  padding-left: 10px;
  align-items: center;
  padding-top: 10px;
  
}
.member-ship-card p{
  margin-left: 6px;
  padding-top: 15px;
  
}
.member-ship-card hr{
  margin-right: 8px;
}
.member-ship-card img{
  width: 50px;
  height: 50px;
}
.number-div{
 float: right;
 
}
.custom-link:active{
  color: #aaa7f2;
 
}
.low-navbar{
  width:35%;
}
.nav-link{
  color: black;
}
.memo-card{
  width: 200px;
  height: 280px;
  justify-content: center;
  border: 1px solid #daf2c9;
  border-radius: 20px;
  padding: 10px;
 box-shadow: 0px 0px 4px #daf2c9;
  
  
}
.memo-card img{
  width:160px;
  height: 160px;
  border-radius: 50px;
  display: flex;
  
  
}
.memo-card div{
  display: block;
  width: 210px;
  height: 180px;
  background: linear-gradient(#daf2c9,#fff);
  justify-content: center;
  align-items: center;
  
}
.claim-div{
  width: 300px;
  height: 300px;
  background: linear-gradient(#daf2c9,#fff);
  justify-content: center;
  align-items: center;
}
.claim-div div{
  width: 260px;
  height: 260px;
  box-shadow: 0px 0px 4px gray;
  border-radius: 200px;
  background-color: #fff;
}
@media(max-width:600px){
  *{
    font-size: 16px;
  }
  .custom-card{
    width: 180px;
    height: 240px;
    justify-content: center;
    border: 1px solid #daf2c9;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 3px 1px #daf2c9;
    
    
  }
  .card-img{
    width: 150px;
    height: 150px;
   margin-top: 0px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    
    
    
  }
  .custom-card img{
    width:140px;
    height: 140px;
    border-radius: 50px;
    border: 1px solid gray;
  }
  .btnn{
    width: 100%;
    box-shadow: 0.3px 2px 1px #393459;
    background-color: #aaa7f2;
    border: 0px;
    border-radius: 20px;
    margin-left:10px;
    margin-right: 10px;
    line-height: 30px;
    color: #fff;
  }
  .custom-navbar{
    text-align: center;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 30px;
    flex-direction: row;
    height: 30px;
    padding: 0px;
    box-shadow: 0.5px 0.5px 0.5px;
  
  }
  .low-navbar{
    width:95%;
    font-size: 10px;
    word-wrap: break-word;
    line-height: 0px;
    
  }
  .low-navbar ul{
    display: flexbox;
    flex-direction: row;

    
    

  }
  .nav-link {
    white-space: nowrap;
     /* Metni bir dizede tut */
  }
  .low-navbar li{
    margin-right: 5px;
    padding: 0px;
    
  }
}